:root{
    --green: #00FF00;
    --white: #fff;
    --black: #000;

}
*{
    color: var(--fontColor);
    font-family: helvetica;
}

body{
    background: var(--bg);
}

.task__list{
    font-family: helvetica;
    list-style: none;
}

li{
    list-style: circle;
}

.list{
    list-style: square;
}

.btn{
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 1rem;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    cursor: pointer;
}
.btn:hover{
    transform: scale(105%);
}
.btn:focus{
    outline-style: none;
}

.light-theme{
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme{
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}