html{
    font-size: 10px; /*px significa "pixels": O tamanho da fonte base agor é de 10 pixels*/
    font-family: 'Nunito', sans-serif;
    background-color:#022020;
    background-size: 100% auto;
}
body{
    width: 800px;
    margin: 0 auto;
    background-color: #215353;
    padding: 0 20px 20px 20px;
    border: 1px solid black;
}
h1{
    margin : 0;
    padding: 20px 0;
    font-size: 47px;
    text-align: center;
    /*text-shadow: 3px 3px 1px black;sombra*/
}
img{
    display: block;
    margin: 0 auto;
}

h2{
    padding: 18px 0;
    text-align: center;
}

p, ol,a{
    font-size: 16.8px;
    line-height: 1.7;
    letter-spacing: 1px;
}